<div
    class="bg-image"
    style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
    <div class="container" style= "margin-bottom:50px;">
        <h1 style="color:white">About Me</h1>
    </div>

    <!-- NAME SECTION -->  

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <h4 style="color:white">Mostafa Asaad</h4>
                <h6 style="color:white">GIS Software Developer | Geomatics Engineer </h6>
                <h6 style="color:white">Mississauga, Ontario, Canada </h6>

                <!-- About me Section -->

                <div style="font-size:20px">
                    <div class="col border border-bottom bg-light">
                        <div style= "margin:22px;"> 
                            <p style="color:black" >A GIS software developer with a Master’s degree in Geographic Information System and Cartography from University of Aberdeen.
                             I also have background in Geomatics Engineering with 3 years of experience in the domain. 
                             My latest experience and projects were focused on using spatial analysis, R programming as well as remote sensing techniques in GIS.
                              Currently I am completing a fast track program in software technology and looking forward to implementing this knowledge in GIS.</p>
                        </div>
                    </div>
                </div> 

                <!-- Download Resume botton -->  

                <div class="d-grid">
                    <a href="/Assets/images/RESUME.pdf" class="btn btn-primary" type="button">To Download My Resume Click Here</a>
                </div> 
            </div>

            <!-- Portrait -->

            <div class="col">
                <div class="container">
                    <div style= "margin-left:100px;">
                        <div class="row row-cols-2 row-col-1">
                            <img class="img-responsive" src="/Assets/images/Portrait.jpg" alt="Portrait image">
                        </div>    
                    </div>
                 </div>
            </div>
        </div>
        
    </div>  
</div>
