
<h1>Contact List</h1>


<div class="row">
    <div class="col">

        <!-- Table goes here-->
        <table class="table">
            <thead>
              <tr>
                <th style="color:white">scope="col">#</th>
                <th style="color:white">scope="col">FirstName</th>
                <th style="color:white">scope="col">EmailAddress</th>
                <th style="color:white">scope="col">ContactNumber</th>
              </tr>
            </thead>
            <tbody>

                <!-- Repeatable Row Template-->
                
                <% for(let count = 0; count < contact.length; count++) { %>

                <tr>
                    <th scope="row"><%= count + 1 %></th>
                    <td><%= contact[count].FirstName %></td>
                    <td><%= contact[count].EmailAddress %></td>
                    <td><%= contact[count].ContactNumber %></td>
                </tr>

              <% } %>

            </tbody>
          </table>
    </div>
</div>
