<!-- background image -->
<div class="bg-image"
   style="background-image: url('https://wallpapercave.com/wp/wp5326664.jpg'); height: 190vh;">


    <div class="container" style= "margin-bottom:50px;">
        <h1 style="color:white">My Projects</h1>
    </div>
<div class="container" >
  

        <!-- Projects -->

        <!-- Walkability study -->

        <div class="row align-items-center">
            <div class="col">
                <div class="card" style="width: 26rem;">
                    <img src="Assets/images/Walkability.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Walkability study</h5>
                            <p class="card-text">This was the thesis in my Master's degree in GIS. In this project, I used MCE methods to detect walkability patterns in Mississauga and Brampton cities.
                             This final map shows areas that are highly attractive for pedestrains and bikers and others that are not. The results were derived based on 6 developed maps:</p>
                            <li>Proximity to destination map</li>
                            <li>Residential density map</li>
                            <li>Commercial density map</li>
                            <li>Walk friendliness map</li>
                            <li>Land-use diversity map</li>
                            <li>Safety map</li>
                            <p class="card-text">Brampton city was found to have the enough potential to develop a walkable city because of the well-connected urban form, unlike Mississauga that is characterized by a sprawling urban form.</p>
                        </div>
                    </div>
                </div>

                <!-- Crime mapping -->

                <div class="col">
                    <div class="card" style="width: 26rem;">
                        <img src="Assets/images/Percent.jpg" class="card-img-top" alt="...">
                        <img src="Assets/images/Emerging.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Crime mapping</h5>
                                <p class="card-text">This study adopted the spatiotemporal approach to map crimes in the City of Toronto.</p> 
                                <p class="card-text">It identified the advantages of using the micro-level of space when conducting crime mapping. It proved that as we move downwards
                                 in the cone of spatial resolution, the results are more accurate which helps the police in the better deployment of patrols across the city.
                                 Their effort will be more focused on roads with a high crime rate instead of safe roads and as a result, this will save money and effort.
                                </p>
                                <p class="card-text">Unlike the spatial resolution, performing crime analysis along the temporal cone of resolution proved to be significant at all levels. 
                                Criminologists can derive important patterns from analyzing the change of crimes along hours, days, weeks, months or years.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Dam positioning -->

                    <div class="col">
                        <div class="card" style="width: 26rem;">
                            <img src="Assets/images/Reslocation.jpg" class="card-img-top" alt="...">
                            <img src="Assets/images/ResLandcover.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Siting a River Dam</h5>
                                    <p class="card-text">In this Project, I used map algebra techniques to identify an ideal site for the construction of river dam. 
                                    The study was based on several factors like: land topography, streams network, grid and roads networks, land cover and land use.</p>
                                </div>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>    
