<!-- background image -->
<div
   class="bg-image"
   style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
  
   <!-- Header + personal mission -->    
   <div class="row"></div>
         <div class="container" >
                <div class="container" style= "margin-bottom:50px;">
                        <h1 style="color:white">Welcome my Portfolio!</h1>
                </div>
                <div style="font-size:19px">
                        <p style="color:white" >My mission is to use my knowledge in GIS and software development to develop GIS applications for better decision-making. </p>
                </div>
        </div>

        <div class="container">

                <!-- about me card -->   

                <div style="margin-top:20px">
                        <div class="card text-center">
                                <div class="card-body">
                                        <h5 class="card-title">About me</h5>
                                        <p class="card-text">In about me page you can find detailed information about me, my career and educational history.</p>
                                        <a href="/about" class="btn btn-primary">Go to About me</a>
                                </div>
                        </div>
                        <!-- projects card -->

                        <div style="margin-top:20px">
                                <div class="card text-center">
                                        <div class="card-body">
                                                <h5 class="card-title">Projects</h5>
                                                <p class="card-text">In Projects page you can have a glimpse of my past projects.</p>
                                                <a href="/projects" class="btn btn-primary">Go to Projects</a>
                                        </div>
                                </div>
                        <!-- Services card -->

                        <div style="margin-top:20px">
                                <div class="card text-center">
                                        <div class="card-body">
                                                <h5 class="card-title">Services</h5>
                                                <p class="card-text">Visit this page to know more about the services I offer.</p>
                                                <a href="/services" class="btn btn-primary">Go to Services</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>        
</div>        