<!-- background image -->
<div
   class="bg-image"
   style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">


    <div class="container" style= "margin-bottom:100px;">
        <h1 style="color:white">My Services</h1>
    </div>

    <div class="container" >
  

        <!-- Services -->

        <!-- Geospatial analysis -->

        <div class="row align-items-center">
            <div class="col">
                <div class="card" style="width: 26rem;">
                    <img src="Assets/images/gisAnalysis.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Geospatial Analysis</h5>
                            <p class="card-text">Use GIS techniques to complete enviromental, agricultural, health, crime, and city planning studies</p>
                        </div>
                    </div>
                </div>

                <!-- web development -->

                <div class="col">
                    <div class="card" style="width: 26rem;">
                        <img src="Assets/images/webdev.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Web and Application Development</h5>
                                <p class="card-text">Writing, editing, and designing webpages and applications</p>
                            </div>
                        </div>
                    </div>

                    <!-- Remote Sensing -->

                    <div class="col">
                        <div class="card" style="width: 26rem;">
                            <img src="Assets/images/RSensing.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Remote Sensing</h5>
                                    <p class="card-text">Detecting and monitoring the physical characteristics of an area using remote sensing and AI</p>
                                </div>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>        