<nav class="navbar fixed-bottom navbar-light bg-secondary">
  
        <div class="container-fluid">

        <!-- textx, copyright and connect  -->

          <div class="col">
            <h4> &copy; Copyright 2021.</h4>
          </div>
          <div class="col-1">
            <h4> Connect: </h4>
          </div>  

          <!-- Links to social media  -->
          
          <div class="col-1">
            <a class="link" href="https://www.linkedin.com/in/mostafa-asaad/"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
          <div class="col-1">
            <a class="link" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
          </div>
          <div class="col-1">
            <a class="link" href="https://twitter.com/Moe_Asd"><i class="fab fa-twitter-square fa-2x"></i></a>
          </div> 
        </div>
      
</nav>