<nav class="navbar fixed-bottom navbar-light bg-secondary">
    <div class="row align-items-center">
        <div class="container-fluid">
        <div class="col">
          <h4> &copy; Copyright 2021.</h4>
        </div>  
        </div>
        <div class="col">
        <a class="link" href="https://www.linkedin.com/in/mostafa-asaad/"><i class="fab fa-linkedin fa-3x"></i></a>
        </div> 

    </div>    
</nav>